:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light;*/
  color: #333;
  background-color: #F7F7FF;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #284b63;
  text-decoration: inherit;
}

a:hover {
  color: #284b63;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

.header-container {
  background-color: #284b63;
  color: #f7f7ff;
  width: 100%;
  padding: 10 0 10 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-bar {
  width: 4px;
  /* Set the width of the bar */
  height: 100px;
  /* Set the height of the bar */
  background-color: #333;
  /* Set the color of the bar */
}


.nav-container {
  background-color: #284b63;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 2.3em;
  line-height: 1.1;
}

.padded {
  padding-bottom: 30px;
}

#app {
  /*max-width: 1280px;*/
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.btn {
  /* font-family: 'Libre Franklin', sans-serif; */
  padding: 0.6em 1.2em;
  border-radius: 8px;
  /*Montserrat;*/
  font-size: 16px;
  color: #333;
  background-color: #d4e0f2;
  cursor: pointer;
  /* border-color: #820263; */
}

.btn-small {
  /* font-family: Montserrat; */
  padding: 0.4em 1.0em;
  border-radius: 8px;
  font-size: 12px;
  color: white;
  background-color: #820263;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.chart {
  width: 800px;
  padding: 50px
}

#area_title {
  font-family: Arial, sans-serif;
  /* Choose a professional font */
  font-size: 32px;
  /* Adjust font size as needed */
  font-weight: bold;
  /* Make it bold */
  text-align: center;
  /* Center align the text */
  margin-top: 50px;
  /* Add space at the top */
  margin-bottom: 30px;
  /* Add space at the bottom */
  color: #333;
  /* Choose a suitable text color */
  text-transform: uppercase;
  /* Transform text to uppercase */
  letter-spacing: 2px;
  /* Add letter spacing for clarity */
  border-bottom: 2px solid #aaa;
  /* Add a bottom border */
  padding-bottom: 5px;
  /* Space between text and border */
}

/* style for MONTHLY CHANGE section */
.container-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the grid container */
.grid-container {
  /* Use CSS grid */
  display: grid;
  /* Two columns with equal width */
  grid-template-columns: 1fr 1fr;
  /* 1fr 1fr;*/
  /* Gap between grid items */
  grid-gap: 10px;
  /* Center the grid items horizontally */
  justify-content: center;
  /* Center the grid items vertically */
  align-items: center;
  padding-left: 50px;
  padding-bottom: 50px;
  width: 600px;
}

.data-box {
  /* Set the width */
  width: 250px;
  /* Set the height */
  height: 150px;
  /* Add padding inside the box */
  padding: 20px;
  /* Add a border */
  border-bottom: 8px solid #284b63;
  border-right: 8px solid #e2e2e2;
  /* Add rounded corners */
  /* border-radius: 8px; */
  /* Set background color */
  background-color: #d4e0f2;
  /* Add a shadow */
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  /* font colour */
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  /* Use flexbox for arranging elements horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px;
  /* Adjust margin as needed */
}

.icon-container {
  width: 250px;
  /* border: 3px solid #333;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.icon {
  width: 30px;
  padding: 1px;
}

.data-content {
  /* Ensure the content aligns correctly */
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.data-title {
  /* Adjust title's width and margin */
  /*width: 100px;*/
  font-weight: bold;
  font-size: 24px;
  padding-left: 10px;
}

.change-value {
  /* Additional styles for the content */
  font-size: 26px;
  color: #000;
}

/* Additional CSS for text color */
.positive {
  color: #355E3B;
}

.negative {
  color: #8C2B32;
}

/* CSS for Arrow */
.arrow-container {
  width: 20px;
  /* Set container width and height to accommodate the arrow */
  height: 20px;
  margin-right: 15px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: inline-block;

}

/* Red arrow for negative values */
.arrow.negative {
  border-top: 20px solid #800000;
}

/* Green arrow for positive values */
.arrow.positive {
  border-bottom: 20px solid #355e3b;
}

.dial {
  width: 200px;
}

.dial-box {
  /* Set the width */
  width: 250px;
  /* Set the height */
  height: 175px;
  /* Add padding inside the box */
  padding: 20px;
  /* Add a border */
  border-bottom: 8px solid #284b63;
  border-right: 8px solid #e2e2e2;
  /* Add rounded corners */
  /* border-radius: 8px; */
  /* Set background color */
  background-color: #d4e0f2;
  /* Add a shadow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* font colour */
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  /* Use flexbox for arranging elements horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px;
  /* Adjust margin as needed */
}

/*

@media (prefers-color-scheme: dark) {
  :root {
    color: #f7f7ff;
    background-color: #242424;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

*/